.price-card-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: content-box;
    /* border: 1px solid black; */
    border-radius: 3%;
    width: max-content;
}

.price-card-plan{
    
    color: grey;
    font-size: large;
    padding-top: 1rem;
    font-weight: 600;
    font-family: sans-serif;
}

li{
    list-style: none;
    text-align: center;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    font-size: smaller;
    gap: 5px;
}
.greyed{
    color: grey;
}

ul{
    padding: 1rem;
}


.payment{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    /* padding-right:  2rem; ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: 100%; */
    border-bottom: 1px solid rgb(212, 201, 201);
    /* border-bottom-width: ; */
}